.line {
    width: 66px;
    height: 3px;
    background: $violet;
    margin-top: 12px;
    margin: 0 auto;
    &_about {
        margin: 0 auto;
        margin-top: 15px;
    }
    &_about25 {
        margin: 0 auto;
        margin-top: 25px;
    }
}