.resume {
    margin-bottom: 133px;
    display: grid;
    &__wrapper {
        padding: 65px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }

    &__column{
        &_title {
            position: relative;
            padding-left: 35px;
            
            &:before {
                display: block;
                position: absolute;
                content: '';
                width: 15px;
                height: 15px;
                left: -7px;
                top: 13px;
                transform: translateY(-50%);
                background-color: $violet;
                border-radius: 100%;
                animation: resumepulse 5s infinite ease-in-out;
            }
            
        }
        ul {
            list-style-type: none;
            position: relative;
            li {
                &::after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 50px);
                    position: absolute;
                    background: $black;
                    top: -50px;
                    left: 0;
                }
            }
        }
    }

    &__sub {
        text-align: center;
        margin: 0 auto;
        color: $black;
        position: relative;
        z-index: 1;
        padding-left: 10px;
        @include resume_circle;
    }

    &__title {
        text-align: center;
        margin: 0 auto;
        color: $black;
        margin-top: 15px;
    }
    &__item {
        position: relative;
        &::before {
            display: block;
            position: absolute;
            content: '';
            width: 34px;
            height: 1px;
            left: -32px;
            background: $black;
            top: 25px;
        }
        &-location {
            color: #000;
            font-size: 12px;
            font-weight: 500;
        }
        &-head {
            padding-left: 50px;
            margin-top: 45px;
            margin-bottom: 12px;
        }
        &-icon {
            position: absolute;
            left: 15px;
            top: 19px;
            @include resume_circle;
            z-index: 3;
            &:before {
                left: -14px;
                top: -10px;
            }
        }
    }
}
@keyframes resumepulse {
    0% {
        top: 13px;
    }
    11.11% {    
        top: 96px;
        left: -7px;
        z-index: 2;
    }
    22.22% {
        top: 96px;
        left: 38px;
        z-index: 2;
    }
    33.33% {
        top: 96px;
        left: -7px;
        z-index: 2;
    }
    44.44% {
        top: 318px;
        left: -7px;
        z-index: 2;
    }
    55.56% {
        top: 318px;
        left: 38px;
        z-index: 2;
    }
    66.67% {
        top: 318px;
        left: -7px;
        z-index: 2;
    }
    77.78% {
        top: 475px;
        z-index: 2;
    }
    100% {
        top: 13px;
    }
}
