@media (max-width: 1250px) {
    .container {
        width: 100%;
        padding: 0 75px 0 75px;
    }
    .about {
        min-height: 660px;
        &__grid {
            grid-template-columns: 300px 1fr;
            column-gap: 18px;
            &_left {
                width: 100%;
                img {
                    object-fit: cover;
                }
            }
            &_text {
                padding-left: 46px;
            }
            &_bottom {
                grid-template-columns: 1fr;
                grid-template-rows: auto;
            }
        }
    }
    .skills {
        &__lists {
            margin-top: 25px;
            grid-template-columns: repeat(3,1fr);
        }
        &__list {
            &:after {
                display: none;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 37px 0 0 0;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1px;
        }
    }

    @keyframes resumepulse {
        0% {
            top: 13px;
        }
        11.11% {    
            top: 96px;
            left: -7px;
            z-index: 2;
        }
        22.22% {
            top: 96px;
            left: 38px;
            z-index: 2;
        }
        33.33% {
            top: 96px;
            left: -7px;
            z-index: 2;
        }
        44.44% {
            top: 293px;
            left: -7px;
            z-index: 2;
        }
        55.56% {
            top: 293px;
            left: 38px;
            z-index: 2;
        }
        66.67% {
            top: 293px;
            left: -7px;
            z-index: 2;
        }
        77.78% {
            top: 430px;
            z-index: 2;
        }
        100% {
            top: 13px;
        }
    }
}