@media (max-width: 768px) {
    .about {
        &__grid {
            grid-template-columns: auto;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: auto;
        }
    }

    .skills {
        &__lists {
            grid-template-columns: repeat(2, auto);
        }
        &__list {
            &:after {
                display: none;
            }
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }

    .price {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }

    .contacts {
        &__container {
            &-image {
                display: none;
            }
        }
        &_title {
            font-size: 24px;
            line-height: normal;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__forms {
            width: 100%;
            margin: 29px 10 0 10px;
            input {
                display: block;
            }
            input[type=checkbox] {
                display: inline-block;
                position: absolute;
                left: -26px;
                top: 7px;
            }
            input[name=email], input[name=name] {
                width: 100%;
            }
            label[for=email] {
                &::after {
                    top: 84px;
                    left: 21px;
                }
            }
            label[for=name] {
                &::after {
                    top: 15px;
                }
            }
                
            label[for=message] {
                &::after {
                    top: 180px;
                }
            }
            textarea {
                margin-top: 27px;
                width: 100%;
            }
        }
        &__footer {
            grid-template-columns: 1fr;    
            margin-top: 76px;
            justify-items: center
        }
        &__privacy {
            position: absolute;
            bottom: 70px;
            width: 159px;
            display: inline-block;
        }
    }
    @keyframes resumepulse {
        0% {
            top: 13px;
        }
        11.11% {    
            top: 96px;
            left: -7px;
            z-index: 2;
        }
        22.22% {
            top: 96px;
            left: 38px;
            z-index: 2;
        }
        33.33% {
            top: 96px;
            left: -7px;
            z-index: 2;
        }
        44.44% {
            top: 293px;
            left: -7px;
            z-index: 2;
        }
        55.56% {
            top: 293px;
            left: 38px;
            z-index: 2;
        }
        66.67% {
            top: 293px;
            left: -7px;
            z-index: 2;
        }
        77.78% {
            top: 430px;
            z-index: 2;
        }
        100% {
            top: 13px;
        }
    }
}