@import 'libs/bootstrap-reboot';
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'base/variables';
@import 'base/mixins';
@import 'base/fontsicon';

* {
    font-family: 'Geologica', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/title';
@import 'blocks/promo';
@import 'blocks/menu';
@import 'blocks/buttons';
@import 'blocks/round';
@import 'blocks/about';
@import 'blocks/line';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/price';
@import 'blocks/contacts';

@import 'media/1400';
@import 'media/1200';
@import 'media/992';
@import 'media/768';
@import 'media/320';